body {
margin : 0; 
margin-top : 0; 
padding : 0;  
font-family : Verdana, Helvetica, sans-serif; 
font-size : 75%;  
font-weight : normal;
//background: #eee;
}
.container {
border-style: solid;
border-width: 1px;
border-color: black;
width: 980px;
margin-right: auto;
margin-left: auto;
padding: 3em;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background: #fff;
}
.profile-requirement {
box-shadow: 0 1px 4px #ccc;
margin-top: 10px;
padding: 6px;
width: 300px;
background-color: white;
} 
a:link, a:visited, a:active {
color : #3350a3; 
text-decoration : none; 
} 
a:hover {
color : #ff0000; 
background-color : #fafad2; 
text-decoration : none; 
} 
p {
font-size : 1em; 
font-size : small; 
color : #000000; 
line-height : 14px; 
margin-top : 0; 
margin-bottom : 15px; 
} 
h1 {
text-align : center; 	
font-size : 2em; 
font-weight : bold; 
line-height : 20px; 
margin-top : 0; 
color : black; 
} 
h2 { 
font-weight : bold; 
line-height : 12px; 
margin-top : 0; 
color : black; 
} 
ul {
list-style-type: square;
line-height : 12px;
}
.centered {
text-align: center;
}
#border {
border-left : 1px solid #c0c0c0; 
border-right : 1px solid #c0c0c0; 
background : #ffffff;
} 
input[type=text] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
}
input[type=text]:focus {border-color:#000; }
input[type=submit] {background:#000000;
	background:-moz-linear-gradient(top,#000000 0%,#000000 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#000000),color-stop(100%,#000000));
	background:-webkit-linear-gradient(top,#000000 0%,#000000 100%);
	background:-o-linear-gradient(top,#000000 0%,#000000 100%);
	background:-ms-linear-gradient(top,#000000 0%,#000000 100%);
	background:linear-gradient(top,#000000 0%,#000000 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #000000