<!DOCTYPE html>
<html lang="en">
  <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Course recommendations</title>
		<link rel="stylesheet" type="text/css" href="../static/mystyles.css">
	</head>
	<body>
  <div class="container">
  <h1>The recommendations</h1>
    <br>
    {% for item in data %}
      <h2>Missing skill:</h2>
       {{item[0]}}
       <br><br>
      <h2>Courses: </h2>
      <ul>
      {% for course in item[1]%}
        <li><a href=https://www.coursera.org/course/{{course[0]}}>{{course[1]}}</a></li>
      {% endfor %}
      </ul>
      <br>
    {% endfor %}
  </div>
	</body>
</html>


